<div class="card" style="max-width: 33.33% ">
    <table>
        <thead>
            <tr>
                <th style="width: 33.33%"><div><img [src]="'../../../assets/Img/' + macchina?.immagine" alt="..."></div></th>
                <th>
                    <div>
                        <div>
                            <div class="card-body width: 33.33%">
                                <h3 class="card-title"> {{macchina?.costruttore}}</h3>
                                <h3 class="card-title"> {{macchina?.modello}}</h3>
                                <p class="card-text">{{macchina?.tipologia}}</p>
                            </div>
                        </div>
                    </div>
                </th>
                <th class="inBasso">"prezzo"</th>
            </tr>
        </thead>
    </table>
</div>
