body{
background-image: url("https://www.cars-data.com/pictures/bmw/bmw-8-serie-cabrio_4151_16.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.prova{
    padding-bottom: 60px;
    padding-left: 100px;
}
.prova2:active {
    background-color: #ffbf00;
}
.prova2:hover {
    background-color: #002ead;
    transition: 0.2s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #000000;
}