body{
background-image: url("https://cdn.ferrari.com/cms/network/media/img/resize/5de7923a91756c07f10b1720-ferrari-f40-1987-intro-share?width=1080");
}
.prova{
    padding-bottom: 60px;
    padding-left: 100px;
}