body{
background-image: url("https://cdn.motor1.com/images/mgl/Z27QK/s1/2019-bmw-m850i-xdrive-cabriolet.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.prova{
    padding-bottom: 60px;
    padding-left: 100px;
}
.prova2:active {
    background-color: #ffbf00;
}
.prova2:hover {
    background-color: #002ead;
    transition: 0.2s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #000000;
}
button{
    height: 40px;
    width: 250px;
}