img {
    width: 40px;
    height: 40px;
}

.prova {
    padding-top: 10px;
}
.prova2{
    padding-right: 15px;
}

nav {
    background-color: transparent;
}

div {
    background-color: transparent;
}

span {
    background-color: transparent;
}