img{
    width: 40px; height: 40px;
}
.prova{
    padding-top: 10px;
    
}
nav{
    /*padding-left: 20px;
    padding-right: 30px;*/
    padding: 0px;
    background-color: #952415!important;
}
div{
    padding-left: 20px;
    padding-right: 30px;
    background-color: #952415;
}
span{
    background-color: #952415;
}