<div class="navbar">
  <div class="header">
    <ul class="menu">
      <div class="nav-link" [routerLink]="['']">
      <li><a class="nav-link" href=""><img src="../../../assets/Img/home.png" alt=""></a></li>
    </div>
    <div class="nav-link" [routerLink]="['/all']">
      <li><a class="nav-link" href="" [routerLink]="['/all']">Le nostre macchine </a></li>
    </div>
    <div class="nav-link" [routerLink]="['/aboutUs']">
      <li><a class="nav-link" href="" [routerLink]="['/aboutUs']">
          <p>Chi siamo</p>
        </a></li>
      </div>
        <div class="nav-link" [routerLink]="['/login']">
      <li><a class="nav-link" href="" [routerLink]="['/login']">
          <p>Login</p>
        </a></li>
      </div>
    </ul>
  </div>
</div>