.dim20{
    width: 20%;
}

.dim5{
    width: 5%;
}

.testo{
    text-align: center;
}

body{
    background-color:whitesmoke
}

.dim100{
    width: 100%;
}

.accordion-button{
    background-color: whitesmoke;
}

.button-secondary{
    border: none;
    background:none;
}