<body>
    <!-- <app-ricerca (cercaEvent)="Cerca($event)"></app-ricerca> -->
<h1>Gestionale auto</h1>
<div class="container-fluid p-5">
    <form class="form-inline">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">Remember my preference</label>
        </div>
      
        <button type="submit" class="btn btn-primary my-1">Submit</button>
      </form>
    <div class="row">
        <div class="col-10 border">
            <div class="row border">
                <table class="border ">
                    <tr class="border testo">
                        <th class="border">ID</th>
                        <th class="border">Immagine</th>
                        <th class="border">Marchio</th>
                        <th class="border">Modello</th>
                        <th class="border">Tipologia</th>
                        <th class="border">Prezzo</th>
                        <th class="border">Lista optionals</th>
                        <th class="border">Delete</th>
                    </tr>
                <ng-container *ngFor="let m of macchine">
                    <tr class="border testo">
                    <td class="border">{{m.id}}</td>
                        <td class="border"><img class="img-fluid" [src]="'../../../assets/Img/' + m.immagine" alt=""></td>
                        <td class="border">{{m.costruttore}}</td>
                        <td class="border">{{m.modello}}</td>
                        <td class="border">{{m.tipologia}}</td>
                        <td class="border">{{m.prezzo | currency: "EUR"}}</td>
                        <td class="border">{{m.optionals}}</td>
                        <td class="border"><button class="btn remove"><img src = "../../../assets/Img/trash.png" (click) = "cancellaRiga(m.id)"></button></td>
                    </tr>
                </ng-container>
            </table>
            </div>
        </div>
    </div>
</div>
</body>